* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
  background-color: #0D0D0D;
}






.navbar {
  background-color: white;
  user-select: none;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  z-index: 1000;
}


.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li:not(:last-child)::after {
  content: "|";
  color: #333;
  margin: 0 1rem;
}

.navbar a {
  font-family: 'JetBrains Mono';
  color: gray;
  text-decoration: none;
  padding: 0.6rem 0.6rem;
  transition: 0.1s;
}

.navbar a:hover {
  color: white;
  background-color: rgb(34, 34, 34);
}








.container {
    max-width: 60rem;
    margin: 0 auto;
}


h1 {
    display: flex;

    font-family: 'Red Hat Display';
    font-weight: 900;
    letter-spacing: -1px;

    color: #FFFFFF;
    font-size: 4rem;

}


.main {
  height: 1000;
  background-color: black;
}

.main p {
  color: white;
}



.projects {
  height: 1000;
  background-color: white;
}

.experience {
  height: 1000;
  background-color: black;
}

.accounts {
  height: 1000;
  background-color: white;
}









@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }
}