* {
    background-color: #0D0D0D;
    margin: 0;
    padding: 0;
}







.navbar {
  user-select: none;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  z-index: 1000;
}


.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar li:not(:last-child)::after {
  content: "|";
  color: #333;
  margin: 0 10px;
}

.navbar a {
  font-family: 'JetBrains Mono';
  color: gray;
  text-decoration: none;
  padding: 8px 15px;
  transition: 0.1s;
}

.navbar a:hover {
  color: white;
  background-color: rgb(34, 34, 34);
}






.container {
    margin-top: 100px;
    padding-top: 100px;
    max-width: 1000px;
    margin: 0 auto;
}


h1 {
    display: flex;
    /*justify-content: center;*/

    font-family: 'Red Hat Display';
    /*font-style: italic;*/
    font-weight: 900;
    letter-spacing: -1px;

    color: #FFFFFF;
    font-size: 50px;

}

.main {
    height: 100%;
    width: 100%;
}

