* {
    background-color: #0D0D0D;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}





.navbar {
  /* Sayfanın en üstüne sabitler */
  position: fixed;
  top: 0;
  width: 100%;
  
  /* İçeriği ortalar */
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #333;
  padding: 15px 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff9900;
}






h1 {
    display: flex;
    justify-content: center;

    font-family: 'Inter';
    color: #FFFFFF;
    font-size: 70px;
}

.main {
    height: 100%;
    width: 100%;
}

.deneme {
    height: 100%;
    width: 100%;
}

.deneme2 {
    height: 100%;
    width: 100%;
}